@use "variables" as var;

//Responsivitet
@mixin tablet {
  @media screen and (min-width: 700px) {
    @content;
  }
}

//Navigering
@mixin nav-bar {
  background-color: var.$primary;

  li {
    transition: background-color 0.3s linear;

    &:hover {
      background-color: var.$secondary;
    }
  }

  a {
    text-decoration: none;
    color: rgb(101, 55, 63);
  }
}

//Shopping ikon
@mixin icon {
  color: var.$third;
  font-size: 2em;
  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }
}

//Landningssida
@mixin main {
  color: rgb(68, 63, 63);
  text-align: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: "Unbounded", cursive;
    font-size: 2.5em;
    color: var.$fourth;
  }

  .welcomeText {
    width: 80%;
  }

  .img__container {
    display: flex;
    justify-content: center;
  }
}

//Footer
@mixin footer {
  background-color: var.$primary;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 30vh;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    color: rgb(61, 38, 42);
  }
}

//Kassa
@mixin checkout__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 2%;

  .checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: white;
    height: 20vh;
  }

  .checkout__img {
    width: 15%;
    padding: 10px;
  }

  .price,
  .candy {
    font-weight: bold;
  }
}

//Produktsida
@mixin product__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 2%;
}

@mixin product {
  width: 40%;
  height: 55vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  font-size: 0.9em;
  color: rgb(61, 38, 42);

  .product__img {
    width: 50%;
    padding: 5%;
  }

  .product__desc {
    font-size: 13px;
    width: 90%;
    text-align: center;
    color: rgb(61, 38, 42);
  }

  .candyPrice {
    font-weight: bold;
    margin-bottom: 15px;
  }

  button {
    background-color: var.$primary;
    border: none;
    padding: 8px;
    width: 50px;
    border-radius: 15%;

    &:hover {
      background-color: var.$third;
      cursor: pointer;
    }
  }
}

//Filtrering Produktsida
.product__title {
  padding-top: 1%;
}
@mixin filterCandy {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(61, 38, 42);

  .filter__text {
    font-weight: bold;
    color: rgb(61, 38, 42);
  }

  .filterAll {
    display: flex;
    justify-content: center;
    margin: 2%;
  }
}
@mixin payment {
  display: flex;
  color: rgb(61, 38, 42);
  justify-content: center;
  align-items: center;
}

@mixin cart {
  background-color: white;
  border: 1px lightgray solid;
  margin: 20px;
  text-align: left;
  color: rgb(61, 38, 42);

  .fa-trash {
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    color: var.$primary;
    padding-right: 0.7rem;
    &:hover {
      cursor: pointer;
      color: var.$third;
    }
  }
  h3 {
    text-align: center;
  }

  .input__number {
    width: 2rem;
  }
  p.candy__name {
    margin: 0;
    padding-left: 1rem;
    width: 100%;
  }
  button.button__minus {
    margin: 0.4rem;
    background-color: var.$primary;
    border: none;
    border-radius: 10px;
    margin-left: 2px;
    padding: 10px;

    &:hover {
      background-color: var.$third;
      cursor: pointer;
    }
  }

  .summa {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      background-color: var.$primary;
      border: none;
      border-radius: 10px;
      padding: 8px;

      &:hover {
        background-color: var.$third;
        cursor: pointer;
      }
    }
  }
  span {
    text-align: right;
    display: flex;
    justify-content: right;
    padding-right: 0.9rem;
  }
  .itemWrapper {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    &:last-child {
      border-bottom: 0;
    }
    display: flex;
  }

  .button__wrapper {
    display: flex;
  }
  .fa-cart-circle-xmark {
    background-color: black;
  }
  .summa {
    border-top: 1px solid lightgray;
  }
}

//Formuläret
@mixin contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    padding: 3px;
    margin-bottom: 5px;
    margin-right: 8px;
  }
}

//Bekräfta köp knapp
@mixin payBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4%;

  button {
    padding: 15px;
    background-color: var.$primary;
    border: none;
    border-radius: 10px;

    &:hover {
      background-color: var.$third;
    }
  }
}

@mixin purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(61, 38, 42);

  span {
    font-weight: bold;
  }

  button {
    background-color: var.$primary;
    border: none;
    border-radius: 10px;
    padding: 14px;
    margin-top: 10%;
    font-size: medium;

    &:hover {
      background-color: var.$third;
      transform: scale(1.1);
      transition: 0.15s;
      cursor: pointer;
    }
  }
}

@mixin modal-base {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
}

@mixin modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid #888;
  width: 100%; 
}

@mixin modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}