@use "variables" as var;

//Responsivitet
@mixin tablet {
  @media screen and (min-width: 700px) {
    @content;
  }
}

//Navigering
@mixin nav-bar {
  background-color: var.$primary;

  li {
    transition: background-color 0.3s linear;

    &:hover {
      background-color: var.$secondary;
    }
  }

  a {
    text-decoration: none;
    color: rgb(101, 55, 63);
  }
}

//Landningssida
@mixin main {
  color: rgb(68, 63, 63);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "Unbounded", cursive;
    font-size: 3em;
    color: var.$fourth;
  }

  .welcomeText {
    width: 70vw;
  }
}

//Footer
@mixin footer {
  background-color: var.$primary;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    padding-left: 10px;
    color: rgb(61, 38, 42);
  }
}

//Kassa
@mixin checkout__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 2%;

  .checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: white;
    height: 20vh;
  }

  .checkout__img {
    width: 15%;
    padding: 10px;
  }

  .price,
  .candy {
    font-weight: bold;
  }
}

//Produktsida
@mixin product__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 2%;
}

@mixin product {
  width: 40%;
  height: 55vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  font-size: 0.9em;
  color: rgb(61, 38, 42);

  .product__img {
    width: 50%;
    padding: 5%;
  }

  .product__desc {
    font-size: 13px;
    width: 90%;
    text-align: center;
    color: rgb(61, 38, 42);
  }

  .candyPrice {
    font-weight: bold;
    margin-bottom: 15px;
  }

  button {
    background-color: var.$primary;
    border: none;
    padding: 8px;
    width: 50px;
    border-radius: 15%;

    &:hover {
      background-color: var.$third;
    }
  }
}

//Filtrering Produktsida
.product__title {
  padding-top: 1%;
}
@mixin filterCandy {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(61, 38, 42);

  .filter__text {
    font-weight: bold;
    color: rgb(61, 38, 42);
  }

  .filterAll {
    display: flex;
    justify-content: center;
    margin: 2%;
  }
}
@mixin payment {
  display: flex;
  color: rgb(61, 38, 42);
  justify-content: center;
  align-items: center;
}

//Formuläret
@mixin contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    padding: 3px;
    margin-bottom: 5px;
    margin-right: 8px;
  }
}

//Bekräfta köp knapp
@mixin payBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4%;

  button {
    padding: 15px;
    background-color: var.$primary;
    border: none;
    border-radius: 10px;

    &:hover {
      background-color: var.$third;
    }
  }
}

@mixin purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(61, 38, 42);

  span {
    font-weight: bold;
  }
}
