@use "variables" as var;

@mixin tablet {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin nav-bar {
  background-color: var.$primary;

  a {
    text-decoration: none;
    color: rgb(101, 55, 63);
  }
}

@mixin main {
  color: rgb(68, 63, 63);
  text-align: center;

  p {
  }
}

@mixin footer {
  background-color: var.$primary;
  display: flex;
  justify-content: space-evenly;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    padding-left: 10px;
  }
}

@mixin checkout__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 2%;

  .checkout {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: white;
    height: 20vh;
  }

  .checkout__img {
   width: 20%;
   padding: 10px;
  }

  .price, .candy {
    font-weight: bold;
  }
}