$primary: #83d9dc;
$secondary: #b0efef;
$third: #c997c6;
$fourth: #f498c2;
$fifth: #fcdcdf;
$sixth: #feffbf;

// 83D9DC     mörkblå
// b0efef    ljusblå
// C997C6     lila
// F498C2     rosa
// FCDCDF     pastellrosa
// FEFFBF     gul
