@use "hamburger";
@use "variables" as var;
@use "mixins";

body {
  background-color: var.$fifth;
  margin: 0;
}

//Navigering
nav {
  @include hamburger.mobile-menu;

  @include mixins.nav-bar;

  @include mixins.tablet {
    .top-nav {
      flex-direction: row-reverse;
      height: 10vh;

      .logo {
        position: absolute;
        left: 50%;
        width: 70px;
        height: 70px;
      }
    }
  }
}

.landingMain {
  @include mixins.main;
  min-height: 78vh;
}

//Footer
.contact {
  @include mixins.footer;

  @include mixins.tablet {
    display: flex;
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      font-size: 1.2em;
      gap: 60px;
      justify-content: space-evenly;
    }

    li {
      max-width: 100%;
    }
  }
}

//Ikoner
.fa-solid {
  color: var.$third;
  font-size: 2em;

  @include mixins.tablet {
    font-size: 2.5em;
    padding: 5px;
  }
}

.logo {
  width: 60px;
  height: 60px;
}

//Varukorg
.shoppingcart {
  background-color: aliceblue;

  border: 1px black solid;
  margin: 20px;
  text-align: left;
  .fa-trash {
    font-size: 1rem;
    display: flex;
    justify-content: end;
  }
  h3 {
    text-align: center;
  }

  p {
    margin: 0;
    padding-left: 1rem;
  }

  .summa {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  span {
    text-align: right;
    padding-right: 1rem;

    display: flex;
    flex-direction: column;
  }
  .itemWrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.238);
    &:last-child {
      border-bottom: 0;
    }
  }

  .button__wrapper {
    display: flex;
  }
  .fa-cart-circle-xmark {
    background-color: black;
  }
  .summa {
    border-top: 1px solid black;
  }
}

//Kassa
.checkout__container {
  @include mixins.checkout__container;

  @include mixins.tablet {
    flex-direction: row;

    .checkout {
      flex-direction: column;
      align-items: center;
      height: 40vh;
    }

    .checkout__img {
      width: 50%;
      margin: 5px;
    }
  }
}

//Produkter
.product__title {
  text-align: center;
}

.product__main {
  @include mixins.product__main;

  @include mixins.tablet {
    width: 100%;
    flex-direction: row;
  }

  .product {
    @include mixins.product;

    @include mixins.tablet {
      width: 20%;
      height: 60vh;
    }
  }
}

//Filtrering
.filter__container {
  @include mixins.filterCandy;
}
