@use "hamburger";
@use "variables" as var;
@use "mixins";

body {
  background-color: var.$fifth;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

//Headings
.checkout__heading, .product__title, .paymentHeading {
  color: var.$fourth;
  font-family: 'Unbounded', cursive;
  font-size: 3em;
  text-align: center
}

//Navigering
nav {
  @include hamburger.mobile-menu;

  @include mixins.nav-bar;

  @include mixins.tablet {
    .top-nav {
      flex-direction: row-reverse;
      height: 10vh;

      .logo {
        position: absolute;
        left: 50%;
        width: 70px;
        height: 70px;
      }
    }
  }
}

//Landningssida
.landingMain {
  @include mixins.main;
  height: 80vh;

  @include mixins.tablet {
    text-align: left;
    margin-bottom: 5%;

    .welcomeText {
      width: 50vw;
    }
  }
}

//Footer
.contact {
  @include mixins.footer;

  @include mixins.tablet {
    display: flex;
    width: 100%;
    height: 30vh;

    ul {
      display: flex;
      flex-direction: row;
      font-size: 1.2em;
      gap: 60px;
      justify-content: space-evenly;
    }

    li {
      max-width: 100%;
    }
  }
}

//Ikoner
.fa-solid {
  color: var.$third;
  font-size: 2em;
  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }

  @include mixins.tablet {
    font-size: 2.5em;
    padding: 5px;
  }
}

.logo {
  width: 60px;
  height: 60px;
}

//Varukorg
.shoppingcart {
  background-color: white;
  border: 1px black solid;
  margin: 20px;
  text-align: left;
  color:rgb(61, 38, 42);

  .fa-trash {
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    color: var.$primary;
    padding-right: 0.7rem;
    &:hover {
      cursor: pointer;
      color: var.$third;
    }
  }
  h3 {
    text-align: center;
  }

  .input__number {
    width: 2rem;
  }
  p.candy__name {
    margin: 0;
    padding-left: 1rem;
    width: 100%;
  }
  button.button__minus {
    margin: 0.4rem;
    background-color: var.$primary;
    border: none;
    border-radius: 10px;
    margin-left: 2px;
    padding: 10px;

    &:hover {
      background-color: var.$third;
    }
  }
  .summa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    button {
      background-color: var.$primary;
      border: none;
      border-radius: 10px;
      padding: 8px;

      &:hover {
        background-color: var.$third;
      }
    }
  }
  span {
    text-align: right;
    display: flex;
    justify-content: right;
    padding-right: 0.9rem;
  }
  .itemWrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.238);
    padding: 5px;
    &:last-child {
      border-bottom: 0;
    }
    display: flex;
  }

  .button__wrapper {
    display: flex;
  }
  .fa-cart-circle-xmark {
    background-color: black;
  }
  .summa {
    border-top: 1px solid black;
  }
}

//Kassa
.checkout__heading {
  text-align: center;
}

.checkout__container {
  @include mixins.checkout__container;

  @include mixins.tablet {
    flex-direction: column;
    width: 50%;
    align-items: center;

    .checkout {
      flex-direction: row;
      align-items: center;
      height: 20vh;
      width: 80%;
    }

    .checkout__img {
      width: 30%;
    }
  }
}

//Produkter
.product__main {
  @include mixins.product__main;

  @include mixins.tablet {
    width: 100%;
    flex-direction: row;
  }

  .product {
    @include mixins.product;

    @include mixins.tablet {
      width: 20%;
      height: 60vh;
    }
  }
}

//Filtrering
.filter__container {
  @include mixins.filterCandy;
}

.payment {
  @include mixins.payment;
}

.contactInfo {
  @include mixins.contactInfo;

}

.confirm {
  @include mixins.payBtn;
}

.checkout {
  display: flex;
  flex-direction: column;

  @include mixins.tablet {
    flex-direction: row;
  }
}

.biggestWrapper {
  display: flex;
  flex-direction: column;

  @include mixins.tablet {
    flex-direction: column;
    width: 50%;
  }
}

.purchase {
  @include mixins.purchase;

  @include mixins.tablet {
    justify-content: flex-start;
    margin: 2%;
    height: 80vh;
  }
}
