@use "hamburger";
@use "variables" as var;
@use "mixins";

body {
  background-color: var.$fifth;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

//Headings
.checkout__heading,
.product__title,
.paymentHeading {
  color: var.$fourth;
  font-family: "Unbounded", cursive;
  font-size: 3em;
  text-align: center;
}

//Navigering
nav {
  @include hamburger.mobile-menu;

  @include mixins.nav-bar;

  @include mixins.tablet {
    .top-nav {
      flex-direction: row-reverse;
      height: 10vh;

      .logo {
        position: absolute;
        left: 50%;
        width: 70px;
        height: 70px;
        transform: translate(-50%, 0);
      }
    }
  }
}

//Landningssida
.landingMain {
  @include mixins.main;

  @include mixins.tablet {
    text-align: left;
    margin-bottom: 5%;
    align-items: center;

    .welcomeText {
      width: 55%;
    }

    .img__container {
      width: 55%;
    }
    #img__startsida {
      width: 55%;
    }
  }
}

//Ikoner
.fa-cart-shopping {
  @include mixins.icon;

  @include mixins.tablet {
    font-size: 2.5em;
    padding: 5px;
  }
}

.logo {
  width: 60px;
  height: 60px;
}

//Varukorg
.shoppingcart {
  @include mixins.cart;
}

//Kassa
.checkout__heading {
  text-align: center;
}

.checkout__container {
  @include mixins.checkout__container;

  @include mixins.tablet {
    flex-direction: column;
    width: 50%;
    align-items: center;

    .checkout {
      flex-direction: row;
      align-items: center;
      height: 20vh;
      width: 80%;
    }

    .checkout__img {
      width: 30%;
    }
  }
}

//Produkter
.product__main {
  @include mixins.product__main;

  @include mixins.tablet {
    flex-direction: row;
  }

  .product {
    @include mixins.product;

    @include mixins.tablet {
      width: 20%;
      height: 60vh;
    }
  }
}

//Filtrering av produkter
.filter__container {
  @include mixins.filterCandy;
}

.payment {
  @include mixins.payment;
}

.contactInfo {
  @include mixins.contactInfo;
}

.confirm {
  @include mixins.payBtn;
}

.checkout {
  display: flex;
  flex-direction: column;

  @include mixins.tablet {
    flex-direction: row;
  }
}


// .biggestWrapper {
//   display: flex;
//   flex-direction: column;

//   @include mixins.tablet {
//     flex-direction: column;
//     width: 50%;
//   }
// }

.purchase {
  @include mixins.purchase;

  @include mixins.tablet {
    justify-content: flex-start;
    margin: 2%;
    height: 80vh;
  }
}

.modal.show {
  display: flex;
  align-items: center;

  @include mixins.tablet {
    justify-content: right;
  }
}

.modal {
  @include mixins.modal-base;
}

.modal-content {
  @include mixins.modal-content;

  @include mixins.tablet {
    width: 50%;
    position: fixed;
    top: 100px;
    right: 20px;
  }
}

.close {
  @include mixins.modal-close;
}


//Footer
.contact {
  @include mixins.footer;

  @include mixins.tablet {
    display: flex;
    width: 100%;
    height: 30vh;

    ul {
      display: flex;
      flex-direction: row;
      font-size: 1.2em;
      gap: 60px;
      justify-content: space-evenly;
    }

    li {
      max-width: 100%;
    }
  }
}